nvim/colors

.netrwhist
nvim/plugin

.mono
GIMP
NuGet
QtProject.conf
autorandr
autostart
cef_user_data
chromium
chromium-flags.conf
configstore
copyq
dconf
debug
deluge
dunst
edgedb
fish
gcloud
google-chrome
gopass
gtk-2.0
gtk-3.0
htop
hub
i3
i3blocks
info
matplotlib
menus
mimeapps.list
obs-studio
openra
pavucontrol.ini
pipewire
pitivi
procps
pulse
redshift
spotify
sqls
systemd
tags
tel.red
termite
transmission
unity3d
vlc
wpg
xdg_config
yadm
